html {
  height: 100%;
  margin: 0 auto;
  font-family: 'Caveat', cursive;
  font-family: 'Indie Flower', cursive;
  background-image: url('https://images.unsplash.com/photo-1414322058660-a4c56ab6c1e2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
}

body {
  /* background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  background-repeat: no-repeat;
  /* background-size: 400% 400%; */
  /* font-family: fantasy; */
  font-size: 30px;
  /* animation: grad 9s infinite; */
}

@keyframes grad {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

li {
  list-style-type: none;
}
.errors {
  color: red;
}